body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vl {
  border-left: 1px solid rgba(213, 213, 210, 0.8);
  height: 50px;
  position: absolute;
  left: 20%;
}

.hr {
  border-bottom: 1px solid rgba(213, 213, 210, 0.8);
  width: 100%;
  position: absolute;
  top: 55px;
}

.button{
  width: 90px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(213, 213, 210, 0.8);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}


.dm-radio-group__buttons{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: calc(var(--height) - var(--padding)* 2);
}

.dm-radio-group__button_checked {
  background-color: #fff;
  box-shadow: var(--button-checked-shadow);
  opacity: 1;
}

.dm-radio-group__button {
  align-items: center;
  border-radius: calc(var(--radius) - var(--padding));
  cursor: pointer;
  display: flex;
  font-size: var(--font-size);
  font-weight: 500;
  height: calc(var(--height) - var(--padding)* 2);
  justify-content: center;
  opacity: .6;
  padding: var(--button-padding);
  position: relative;
  text-align: center;
  pointer-events: auto;
}
*, :after, :before {
  box-sizing: border-box;
}
.dm-radio-group__input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.dm-radio-group_size_medium {
  --height: 32px;
  --radius: 8px;
  --font-size: 14px;
}

.dm-radio-group {
  --radius: 8px;
  --height: 40px;
  --padding: 4px;
  --font-size: 16px;
  --button-padding: 0 10px;
  --button-checked-shadow: 0 1px 0 rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02), 0 5px 10px rgba(0,0,0,.15);
  background: linear-gradient(0deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), #fff;
  border-radius: var(--radius);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), inset 0 0 0 1px rgba(0, 0, 0, .05);
  height: var(--height);
  padding: var(--padding);
}


[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  touch-action: manipulation;
}


